[submodule "haxe/Haxe/vendor/spdlog"]
	path = haxe/Haxe/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "haxe/Haxe/vendor/GLFW"]
	path = haxe/Haxe/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "haxe/Haxe/vendor/imgui"]
	path = haxe/Haxe/vendor/imgui
	url = https://github.com/ocornut/imgui
